In [ ]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [ ]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [ ]:
engine=create_engine("sqlite:///hawaii.sqlite")

In [ ]:
# reflect an existing database into a new model
Base=automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [ ]:
# We can view all of the classes that automap found
Base.classes.keys()

In [ ]:
# Save references to each table
Measurement=Base.classes.measurement
Station=Base.classes.station

In [ ]:
# Create our session (link) from Python to the DB
session=Session(engine)

# Exploratory Climate Analysis

In [ ]:
# Design a query to retrieve the last 12 months of precipitation data and plot the results. 
#Starting from the last data point in the database. 

# Calculate the date one year from the last date in data set.
prev_year=dt.date(2017,8,23)-dt.timedelta(days=365)
#print(prev_year)
# Perform a query to retrieve the data and precipitation scores
results=[]
results=session.query(Measurement.date,Measurement.prcp).filter(Measurement.date >= prev_year).all()
#print(results)
# Save the query results as a Pandas DataFrame and set the index to the date column
df=pd.DataFrame(results,columns=['date','precipitation'])
df.set_index(df['date'],inplace= True)
print(df.to_string(index=False))
# Sort the dataframe by date
df=df.sort_index()
df

In [ ]:
# Use Pandas Plotting with Matplotlib to plot the data
df.plot()
plt.xticks(rotation=90)

In [ ]:
# Use Pandas to calcualte the summary statistics for the precipitation data
df.describe()

In [ ]:
#Find the Number of Stations
session.query(func.count(Station.station)).all()

In [ ]:
# How many stations are available in this dataset?

In [ ]:
# What are the most active stations?
# List the stations and the counts in descending order.
session.query(Measurement.station,func.count(Measurement.station)).\
    group_by(Measurement.station).order_by(func.count(Measurement.station).desc()).all()

In [ ]:
# Using the station id from the previous query, calculate the lowest temperature recorded, 
# highest temperature recorded, and average temperature most active station?
session.query(func.min(Measurement.tobs),func.max(Measurement.tobs),func.avg(Measurement.tobs)).\
filter(Measurement.station =='USC00519281').all()

In [ ]:
# Choose the station with the highest number of temperature observations.
# Query the last 12 months of temperature observation data for this station and plot the results as a histogram
results= session.query(Measurement.tobs).\
filter(Measurement.station =='USC00519281').\
filter(Measurement.date >= prev_year).all()
df=pd.DataFrame(results, columns=['tobs'])
df
df.plot.hist(bins=12)
plt.tight_layout()

In [ ]:
df.plot.hist(bins=5)
plt.tight_layout()

In [ ]:
df.plot.hist(bins=20)
plt.tight_layout()

In [ ]:
# Write a function called `calc_temps` that will accept start date and end date in the format '%Y-%m-%d' 
# and return the minimum, average, and maximum temperatures for that range of dates
def calc_temp(start_date,end_date)
   min_temp = session.query(func.min(Measurement.tobs)).filter(Measurement.date > start_date).filter(Measurement.date <= end_date)
   max_temp = session.query(func.max(Measurement.tobs)).filter(Measurement.date > start_date).filter(Measurement.date <= end_date)
   avg_temp= session.query(func.avg(Measurement.tobs)).filter(Measurement.date > start_date).filter(Measurement.date <= end_date)

# Challenge